---
AlwaysBreakAfterReturnType: All # BreakAfterReturnType: All

AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

IndentCaseLabels: false

BraceWrapping:
  AfterControlStatement: MultiLine

---
