---
BreakAfterReturnType: AllDefinitions

AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

IndentCaseLabels: false

BinPackArguments: false
BinPackParameters: false

BraceWrapping:
  AfterControlStatement: MultiLine
---
